
<launch>
  
  <arg name="scan_topic" default=""/>
  <arg name="front_sonar" default="/pepper_robot/sonar/front"/>
  
  <!-- <node pkg="pepper_door_open_detector" type="OpeningDoorDetector.py" name="pepper_door_open_detector" required="false" output="screen"> -->
  <!--  <param name="min_distance" value="0.8"/> -->
  <!--  <remap from="/laser" to="$(arg scan_topic)"/> -->
    <!-- <remap from="/start" to="/gm_start"/> -->
 <!-- </node> -->

<node pkg="pepper_door_open_detector" type="OpeningDoorDetectorSonar.py" name="pepper_door_open_detector" required="false" output="screen">
    <param name="min_distance" value="0.8"/>
    <remap from="/sonar" to="$(arg front_sonar)"/>
    <!-- <remap from="/start" to="/gm_start"/> -->
  </node>


</launch>