[submodule "pepper_virtual"]
	path = pepper_virtual
	url = https://github.com/ros-naoqi/pepper_virtual
	branch = master
[submodule "darknet_ros"]
	path = darknet_ros
	url = https://github.com/leggedrobotics/darknet_ros
	branch = master
[submodule "openpose"]
	path = openpose
	url = https://github.com/CMU-Perceptual-Computing-Lab/openpose
	branch = master
[submodule "naoqi_driver"]
	path = naoqi_driver
	url = https://github.com/Xia0ben/naoqi_driver
	branch = master
[submodule "pepper_robot"]
	path = pepper_robot
	url = https://github.com/Xia0ben/pepper_robot
	branch = master
