[submodule "pepper_virtual"]
	path = pepper_virtual
	url = https://github.com/ros-naoqi/pepper_virtual
	branch = master
[submodule "darknet_ros"]
	path = darknet_ros
	url = https://github.com/leggedrobotics/darknet_ros
	branch = master
[submodule "openpose"]
	path = openpose
	url = https://github.com/CMU-Perceptual-Computing-Lab/openpose
	branch = master
[submodule "naoqi_driver"]
	path = naoqi_driver
	url = https://github.com/Xia0ben/naoqi_driver
	branch = master
[submodule "pepper_robot"]
	path = pepper_robot
	url = https://github.com/Xia0ben/pepper_robot
	branch = master
[submodule "robocup_darknet_gateway"]
	path = robocup_darknet_gateway
	url = https://github.com/m0rph03nix/robocup_darknet_gateway
	branch = master
[submodule "robocup_pepper-dialogue_hri"]
	path = robocup_pepper-dialogue_hri
	url = https://github.com/jacques-saraydaryan/robocup_pepper-dialogue_hri
	branch = master
[submodule "robocup_pepper-general_mng"]
	path = robocup_pepper-general_mng
	url = https://github.com/jacques-saraydaryan/robocup_pepper-general_mng
	branch = master
[submodule "robocup_pepper-navigation_mng"]
	path = robocup_pepper-navigation_mng
	url = https://github.com/jacques-saraydaryan/robocup_pepper-navigation_mng
	branch = master
[submodule "robocup_pepper-object_mng"]
	path = robocup_pepper-object_mng
	url = https://github.com/jacques-saraydaryan/robocup_pepper-object_mng
	branch = master
[submodule "robocup_pepper-people_mng"]
	path = robocup_pepper-people_mng
	url = https://github.com/jacques-saraydaryan/robocup_pepper-people_mng
	branch = master
[submodule "robocup_pepper-robocup_msgs"]
	path = robocup_pepper-robocup_msgs
	url = https://github.com/jacques-saraydaryan/robocup_pepper-robocup_msgs
	branch = master
[submodule "robocup_pepper-tts_hri"]
	path = robocup_pepper-tts_hri
	url = https://github.com/jacques-saraydaryan/robocup_pepper-tts_hri
	branch = master
[submodule "robocup_pepper-world_mng"]
	path = robocup_pepper-world_mng
	url = https://github.com/jacques-saraydaryan/robocup_pepper-world_mng
	branch = master
[submodule "ros_color_detection"]
	path = ros_color_detection
	url = https://github.com/jacques-saraydaryan/ros_color_detection
	branch = master
[submodule "ros_face_recognition"]
	path = ros_face_recognition
	url = https://github.com/jacques-saraydaryan/ros_face_recognition
	branch = master
[submodule "ros-openpose"]
	path = ros-openpose
	url = https://github.com/jacques-saraydaryan/ros-openpose
	branch = master
[submodule "ros_openpose_gossip"]
	path = ros_openpose_gossip
	url = https://github.com/m0rph03nix/ros_openpose_gossip
	branch = master
[submodule "robocup_pepper-hri_meta"]
	path = robocup_pepper-hri_meta
	url = https://github.com/Elyspio/robocup_pepper-hri_meta
	branch = master
[submodule "robocup_pepper-scenario_data_generator"]
	path = robocup_pepper-scenario_data_generator
	url = https://github.com/Elyspio/robocup_pepper-scenario_data_generator
	branch = master
