<launch>
  <env name="PYTHONPATH" value="$(env PYTHONPATH)" /> 

  <arg name="nao_ip" default="$(optenv NAO_IP 10.1.124.245)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />

<node pkg="map_manager" type="MapManager.py" name="map_manager" required="false" output="screen">
  </node>
  
 <!-- 
 <node pkg="pepper_pose_for_nav" type="MoveHeadPosition.py" name="fix_head_position" required="false" output="screen">
    <param name="ip" value="$(arg nao_ip)"/>
    <param name="port" value="$(arg nao_port)"/>
  </node>
-->
  <include file="$(find dialogue_hri_node)/launch/hri_mng.launch">
    <arg name="nao_ip" value="$(arg nao_ip)"/>
    <arg name="nao_port" value="$(arg nao_port)"/>
  </include>

  <include file="$(find navigation_manager)/launch/navigation_mng_overall.launch">
    <arg name="nao_ip" value="$(arg nao_ip)"/>
    <arg name="nao_port" value="$(arg nao_port)"/>
  </include>

<!--
    <include file="$(find darknet_gateway_config)/launch/darknet_ros.launch">
   
  </include>

  <node pkg="object_management" type="ObjectManagementNode.py" name="object_management" required="false" output="screen">
  </node>
  -->

</launch>