<launch>
    <env name="PYTHONPATH" value="$(env PYTHONPATH)" />

    <arg name="nao_ip" default="$(optenv NAO_IP 192.168.1.189)" />
    <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />
    <arg name="mapManagerConfPath" default="/home/xia0ben/pepper_ws/data/world_mng/interest_points/" />

    <node pkg="map_manager" type="MapManager.py" name="map_manager" required="false" output="screen">
        <param name="confPath" value="$(arg mapManagerConfPath)"/>
    </node>

    <include file="$(find dialogue_hri_node)/launch/hri_mng.launch">
        <arg name="nao_ip" value="$(arg nao_ip)"/>
        <arg name="nao_port" value="$(arg nao_port)"/>
    </include>

    <include file="$(find tts_hri)/launch/tts_hri.launch">
        <arg name="nao_ip" value="$(arg nao_ip)"/>
        <arg name="nao_port" value="$(arg nao_port)"/>
    </include>


    <include file="$(find navigation_manager)/launch/navigation_mng_overall.launch">
        <arg name="nao_ip" value="$(arg nao_ip)"/>
        <arg name="nao_port" value="$(arg nao_port)"/>
    </include>


    <include file="$(find darknet_gateway_config)/launch/darknet_ros.launch">
    </include>

    <node pkg="object_management" type="ObjectManagementNode.py" name="object_management" required="false" output="screen">
    </node>

    <include file="$(find ros_people_mng_node)/launch/people_mng.launch">
        <arg name="camera_topic" value="/openpose/camera_in"/>
        <arg name="camera_topic_manager" value="/openpose/camera_in"/>
    </include>

</launch>