<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>

  <!-- Config and weights folder. -->
  <arg name="yolo_weights_path"          default="$(find darknet_gateway_config)/config/darknet_data"/>

  <arg name="yolo_config_path"           default="$(find darknet_gateway_config)/config/darknet_data"/>

  <!-- Load parameters -->

  <rosparam command="load" ns="darknet_ros" file="$(find darknet_gateway_config)/config/darknet_ros_elo_follow.yaml"/> 
  <!--
  <rosparam file="$(find darknet_gateway_config)/config/darknet_data/darknet_ros_model_elo.yaml"/>
	-->
  <rosparam command="load" ns="darknet_ros" file="$(find darknet_gateway_config)/config/darknet_data/darknet_ros_model_elo.yaml"/>




  <!-- Start darknet and ros wrapper -->
  <node pkg="darknet_ros" type="darknet_ros" name="darknet_ros" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="weights_path"          value="$(arg yolo_weights_path)" />
    <param name="config_path"           value="$(arg yolo_config_path)" />
   
  </node>



 <!--<node name="republish" type="republish" pkg="image_transport" output="screen" 	args="compressed in:=/front_camera/image_raw raw out:=/camera/image_raw" /> -->
</launch>
