<launch>

  <!-- Settings -->
  <!-- <arg name="map_file" default="$(find pepper_nav_custom)/maps/TurtlebotDrobotcup.yaml"/> -->
  <!-- <arg name="map_file" default="$(find pepper_nav_custom)/maps/hoomano_map.yaml"/>                 10.1.124.246         -->
  <!-- <arg name="map_file" default="$(find pepper_nav_custom)/maps/robocup_official_area2_v4_updated.yaml"/> -->
  <!-- <arg name="map_file" default="$(find pepper_nav_custom)/maps/test-3dfloor-hokuyo.yaml"/> -->
  <arg name="map_file" default="$(find pepper_nav_custom)/maps/test-thes.yaml"/>
  <arg name="nao_ip" default="$(optenv NAO_IP 169.254.93.196)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />
  <arg name="scan_topic" default="/pepper_robot/laser" />
  <arg name="front_sonar" default="/pepper_robot/sonar/front" />
  <arg name="pcl_topic" default="/pepper_robot/camera/depth_registered/points" />
  <arg name="odom_topic" default="/pepper_robot/odom"/>
  <!-- <arg name="odom_topic" default="/odom"/> -->
  


  <!-- All resources for navigation including, publishing map, get pcl from depht camera, move_base, amcl-->
  <include file="$(find pepper_nav_custom)/launch/pepper_navigation.launch">
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="scan_topic" value="$(arg scan_topic)"/>
    <arg name="pcl_topic" value="$(arg pcl_topic)"/>
    <!-- <arg name="odom_topic" value="$(arg odom_topic)"/> -->


  </include>
  <!-- Naoqi services for navigation, including reset of collision distance, disabling life mode, Fixing head for naovigation or other need -->
  <include file="$(find pepper_pose_for_nav)/launch/pepper_pose_fix.launch">
    <arg name="nao_ip" value="$(arg nao_ip)"/>
    <arg name="nao_port" value="$(arg nao_port)"/>
    <arg name="isActivatedExtColl" value="False" />
    <arg name="isActivatedAutoDiagReflex" value="False" />
    
  </include>
  <!-- Open Door detection using by the general manager to start the scenario -->
  <include file="$(find pepper_door_open_detector)/launch/opening_door_detector.launch">
     <arg name="scan_topic" value="$(arg scan_topic)"/>
     <arg name="front_sonar" value="$(arg front_sonar)" />
  </include>
  <!-- Navigation Manager in charge of managing pepper navigation according navigation strategy -->
  <node pkg="navigation_manager" type="NavigationManager.py" name="navigation_manager" required="false" output="screen"></node>
 
  </launch>
