
<launch>
  <env name="PYTHONPATH" value="$(env PYTHONPATH)" /> 

  <arg name="nao_ip" default="$(optenv NAO_IP 192.168.0.189)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />

  <node pkg="tts_hri" type="TtsHri.py" name="tts_hri" required="false" output="screen">
    <param name="ip" value="$(arg nao_ip)"/>
    <param name="port" value="$(arg nao_port)"/>
  </node>
  
</launch>
