<launch>

  <arg name="nao_ip" default="$(optenv NAO_IP 10.1.124.245)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />
  
  <!-- Navigation Manager in charge of managing pepper navigation according navigation strategy -->
  <node pkg="dialogue_hri_node" type="DialogueHri.py" name="dialogue_hri_node_dialogue" required="false" output="screen">
      <param name="ip" value="$(arg nao_ip)"/>
      <param name="port" value="$(arg nao_port)"/>
  </node>

  <node pkg="dialogue_hri_node" type="MoveSoundHri.py" name="dialogue_hri_node_move_sound" required="false" output="screen">
      <param name="ip" value="$(arg nao_ip)"/>
      <param name="port" value="$(arg nao_port)"/>
  </node>

    <node pkg="dialogue_hri_node" type="MoveTurnRobot.py" name="dialogue_hri_node_move_turn" required="false" output="screen">
      <param name="ip" value="$(arg nao_ip)"/>
      <param name="port" value="$(arg nao_port)"/>
  </node>


  <node pkg="dialogue_hri_node" type="GetImageHri.py" name="dialogue_hri_node_take_picture" required="false" output="screen">
      <param name="ip" value="$(arg nao_ip)"/>
      <param name="port" value="$(arg nao_port)"/>
  </node>

  </launch>
